.button {
    display: inline-block;
    border: 1px solid;
    width: fit-content;
    font-family: sans-serif;
    font-size: 14px;
    letter-spacing: 0.28px;
    font-weight: 500;
    line-height: 175%;
    border: none;
	cursor: pointer;
	outline: none;
    border-radius: 8px;    
}

.button:after{
	content: "";
	display: block;
	position: absolute;
	top: 8;
	left: -5;
	width: 40;
	height: 50;
	z-index: -1;
	border-radius: 5;
}

.button__content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    height: 24px;
    width: 24px;
}

.icon__brackets {
    transform: rotate(90deg);
}

.button__size_small {
    padding: 2px 8px;
    gap: 1px;
}

.button__size_medium {
    padding: 6px 12px;
    gap: 4.5px;
}

.button__size_large {
    padding: 10px 20px;
    gap: 10px;
}

.button__size_small.button__icon_trailing {
    padding: 2px 2px 2px 8px; 
}

.button__size_small.button__icon_leading {
    padding: 2px 8px 2px 2px; 
}

.button__size_small.button__icon_standalone {
    padding: 2px; 
}

.button__size_small.button__icon_leadingTrailing {
    padding: 2px 2px; 
}


.button__size_medium.button__icon_trailing {
    padding: 6px 5px 6px 13px; 
}

.button__size_medium.button__icon_leading {
    padding: 6px 13px 6px 5px; 
}

.button__size_medium.button__icon_standalone {
    padding: 6px; 
}

.button__size_medium.button__icon_leadingTrailing {
    padding: 6px 6px; 
}



.button__size_large.button__icon_trailing {
    padding: 10px 12px 10px 18px; 
}

.button__size_large.button__icon_leading {
    padding: 10px 18px 10px 12px; 
}

.button__size_large.button__icon_leadingTrailing {
    padding: 10px 10.5px; 
}

.button__size_large.button__icon_standalone {
    padding: 10px; 
}

.button__style_primary {
    background: var(--primary-color);
    color: var(--primary-color);
}

.button__style_danger {
    background: var(--danger-color);
    color: var(--danger-color);
}

.button__type_solid {
    color: white;
}

.button__type_outline.button__style_primary {
    outline: 2px solid var(--primary-color-with-opacity);
}

.button__type_outline.button__style_danger {
    outline: 2px solid var(--danger-color-with-opacity);
}

.button__type_soft.button__style_primary {
    background: var(--primary-color-with-opacity);
}

.button__type_soft.button__style_danger {
    background: var(--danger-color-with-opacity);
}


.button__style_primary:hover {
    background: var(--primary-color-with-opacity);
}

.button__style_danger:hover {
    background: var(--danger-color-with-opacity);
}

.button__type_soft.button__style_primary:hover {
    background: var(--primary-color-active);
}

.button__type_soft.button__style_danger:hover {
    background: var(--danger-color-active);
}

@media (prefers-color-scheme: dark) {
    .button__style_secondary {
        background: var(--secondary-color);
        color: var(--white-color-with-opacity);
    }
 
    .button__type_outline.button__style_secondary {
        outline: 2px solid var(--secondary-color);
    }

    .button__type_soft.button__style_secondary {
        background: var(--secondary-color-with-opacity);
    }

    .button__type_ghost, .button__type_outline {
        background: transparent;
    }

    .button__style_secondary:hover {
        background: var(--secondary-color-with-opacity);
    }

    .button__type_soft.button__style_secondary:hover {
        background: var(--secondary-color-active);
    }

    .button__type_solid.button__style_primary:hover {
        background: var(--primary-color-solid-active);
    }

    .button__type_solid.button__style_secondary:hover {
        background: var(--secondary-color-solid-active);
    }

    .button__type_solid.button__style_danger:hover {
        background: var(--danger-color-solid-active);
    }

    .button__disabled {
        cursor: auto;
        pointer-events: none;
        color: var(--color-text-contrast-low);
    }

    .button__disabled.button__type_outline {
        background: transparent;
        outline: 2px solid var(--secondary-color);
    }

    .button__disabled.button__type_solid,
    .button__disabled.button__type_soft {
        background: var(--secondary-color);
    }
}

@media (prefers-color-scheme: light) {
    .button__style_secondary {
        background: var(--secondary-color-light);
        color: var(--secondary-color);
    }

    .button__type_outline.button__style_secondary {
        outline: 2px solid var(--secondary-color-light);
    }

    .button__type_soft.button__style_secondary {
        background: var(--secondary-color-light-with-opacity);
    }

    .button__type_ghost, .button__type_outline {
        background: transparent;
    }

    .button__style_secondary:hover {
        background: var(--secondary-color-light-active);
    }

    .button__type_soft.button__style_secondary:hover {
        background: var(--secondary-color-light-active);
    }

    .button__type_solid.button__style_primary:hover {
        background: var(--primary-color-solid-active);
    }

    .button__type_solid.button__style_secondary:hover {
        background: var(--secondary-color-light-active);
    }

    .button__type_solid.button__style_danger:hover {
        background: var(--danger-color-solid-active);
    }

    .button__disabled.button__type_outline {
        background: transparent;
        outline: 2px solid var(--secondary-color-light);
    }

    .button__disabled {
        cursor: auto;
        pointer-events: none;
        color: var(--color-text-contrast-low);
    }

    .button__disabled.button__type_solid,
    .button__disabled.button__type_soft {
        background: var(--secondary-color-light);
    }
}
