/* @font-face {
    font-family: "SourceSans3-Medium";
    src: local("SourceSans3-Medium"),
        url("./fonts/SourceSans3-Medium.ttf") format("truetype");
    font-weight: normal;
} */

body {
    background: #1E1E1E;
}

:root {
    --primary-color: #369FFF;
    --secondary-color: #3B4049;
    --danger-color: #D32A2A;
    --primary-color-active: rgb(54, 159, 255, 0.22);
    --secondary-color-active: rgb(48, 52, 59, 0.7);
    --danger-color-active: rgb(211, 42, 42, 0.2);
    --primary-color-solid-active: #0274DC;
    --secondary-color-solid-acitve: #1A1B1C;
    --danger-color-solid-active: #8A1D1D;
    --white-color-with-opacity: rgb(255, 255, 255, 0.71);
    --primary-color-with-opacity: rgb(54, 159, 255, 0.12);
    --secondary-color-with-opacity: rgb(48, 52, 59, 0.5);
    --danger-color-with-opacity: rgb(211, 42, 42, 0.12);

    --secondary-color-light: #dddee0;
    --secondary-color-light-with-opacity: rgb(221, 222, 224, 0.7);
    --secondary-color-light-active:  rgba(122, 125, 131, 0.7);

    --color-text-contrast-low: #94979A;
}